{% block doc -%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="josien.net">
    <meta name="author" content="Ferry Schuller">
    <link rel="shortcut icon" href="{{ url_for('static', filename='fav/favicon.ico') }}">
    <meta name="theme-color" content="#ffffff">
    <title>{% block title %}{% endblock title %}</title>
    {%- assets "css_all" %}
        <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {%- endassets %}
  </head>
  <body>
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Josien</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="{{ url_for('index') }}">Home</a>
        </li>
        {%- if request.host != 'josien.net' %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/dev' %}active{% endif %}" aria-current="page" href="{{ url_for('dev') }}">Dev</a>
        </li>
        {%- endif %}
      </ul>
      <a class="nav-link link-light" target="_blank" href="https://github.com/FerrySchuller/josien.net">Git</a>
    </div>
  </div>
</nav>
{%- block content -%}
{%- endblock content %}
{%- block scripts %}
{%- assets "js_all" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{%- endassets %}
  {%- with messages = get_flashed_messages(with_categories=true) %}
    {%- if messages %}
      {% for category, message in messages %}
        <script> $.notify({ title: '<strong>{{ category|e }}</strong>',
                            message: '{{ message }}'} ,
                          { placement: { from: "top", align: "center" },
                            type: '{{ category }}' });
        </script>
      {% endfor %}
  {% endif %}
{% endwith %}

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24119196-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-24119196-1');
</script>


{%- endblock scripts %}
  </body>
</html>
{% endblock doc -%}
