{% extends "base.html" %}
{% block title %}Josien.net{% endblock %}

{% block content -%}

<script type="text/javascript" src="{{ url_for('static', filename='js/highstock.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dark-unica.js') }}"></script>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div style="display: inline-block;">OMI: <b>{{ "${:,.5f}".format(omi.omiusdt[-1].y) }}</b></div>
      </div>
      <div class="col-sm">
        <div style="display: inline-block;">Total: <b>{{ "{:,.0f}".format(omi.total[-1].y) }}</b></div>
      </div>
      <div class="col-sm">
        <div style="display: inline-block;">Reserve: <b>{{ "{:,.0f}".format(omi.reserve[-1].y) }}</b></div>
      </div>
      <div class="col-sm">
        <div style="display: inline-block;">Vault: <b>{{ "{:,.0f}".format(omi.vault[-1].y) }}</b></div>
      </div>
      <div class="col-sm">
        <div style="display: inline-block;">Burn: <b>{{ "{:,.0f}".format(omi.burn[-1].y) }}</b></div>
      </div>
    </div>
  </div>
<br />
<div id="omi"></div>
</div>


{%- endblock content %}

{% block scripts %}
    {{ super() }}
<script>
var total = {{ omi.total|safe }}
var burn = {{ omi.burn|safe }}
var vault = {{ omi.vault|safe }}
var reserve = {{ omi.reserve|safe }}
var omiusdt = {{ omi.omiusdt|safe }}

// https://coolors.co/ff0000-ff8700-ffd300-deff0a-a1ff0a-0aff99-0aefff-147df5-580aff-be0aff

Highcharts.chart('omi', {
    title: { text: 'Wallets / USDTOMI' },
    chart: { zoomType: 'x', height: 500 },
    yAxis: [ { visible: false}, 
             { visible: false},
             { visible: false},
             { visible: false},
             { title: { text: 'OMI / USDT' } } ],
    xAxis: { type: 'datetime' },
    legend: { enabled: true },
    series: [ { name: 'total', yAxis: 0,  data: total, visible: false, color: '#147DF5' },
              { name: 'reserve', yAxis: 1,  data: reserve, color: '#FF8700' },
              { name: 'vault', yAxis: 2, data: vault, color: '#DEFF0A' },
              { name: 'burn', yAxis: 3, data: burn, color: '#FF0000' },
              { name: 'omiusdt', yAxis: 4, data: omiusdt, color: '#0AFF99' },
              { type: 'flags', data: [ { x: 1622134811000, title: 'DC Cover Girls' },
                                       { x: 1623344400000, title: 'Cereal Killers' },
                                       { x: 1623949200000, title: 'Superman' },
                                       { x: 1623981600000, title: 'Ghostbusters Slimer' },
                                       { x: 1624294800000, title: 'Givenchy Beauty' },
                                       { x: 1624554000000, title: 'DC Bombshells' },
                                       { x: 1625155200000, title: 'Frank Kozik Labbit— Series 1' },
                                       { x: 1625191200000, title: 'Back to the Future Part II Hoverboards — Series 1' } ],
                showInLegend: false,
                shape: 'squarepin' } ],
    tooltip: { crosshairs: true,
               shared: true },
    scrollbar: { enabled: true },
    navigator: { enabled: true, 
                 xAxis: { labels: { enabled: false } } },
});

</script>
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%- endblock scripts %}
