{% extends "base.html" %}
{% block title %}Josien.net{% endblock %}

{% block content -%}

<script type="text/javascript" src="{{ url_for('static', filename='js/highstock.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/dark-unica.js') }}"></script>

<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div style="display: inline-block;">OMI: <b>{{ "${:,.5f}".format(omi.omiusdt[-1].y) }}</b></div>
      </div>
      <div class="col-sm">
        <div style="display: inline-block;">Reserve: <b>{{ "{:,.0f}".format(omi.reserve[-1].y) }}</b></div>
      </div>
      <div class="col-sm">
        <div style="display: inline-block;">Vault: <b>{{ "{:,.0f}".format(omi.vault[-1].y) }}</b></div>
      </div>
      <div class="col-sm">
        <div style="display: inline-block;">Burn: <b>{{ "{:,.0f}".format(omi.burn[-1].y) }}</b></div>
      </div>
    </div>
  </div>
<br />
<div id="omi"></div>
</div>


{%- endblock content %}

{% block scripts %}
    {{ super() }}
<script>
var burn = {{ omi.burn|safe }}
var vault = {{ omi.vault|safe }}
var reserve = {{ omi.reserve|safe }}
var omiusdt = {{ omi.omiusdt|safe }}

Highcharts.chart('omi', {
    title: { text: 'Wallets / USDTOMI' },
    chart: { zoomType: 'x', height: 500 },
    yAxis: [ { visible: false}, 
             { visible: false},
             { visible: false},
             { title: { text: 'OMI / USDT' } } ],
    xAxis: { type: 'datetime' },
    legend: { enabled: true },
    series: [ { name: 'reserve', yAxis: 0,  data: reserve },
              { name: 'vault', yAxis: 1, data: vault },
              { name: 'burn', yAxis: 2, data: burn },
              { name: 'omiusdt', yAxis: 3, data: omiusdt },
              { type: 'flags', data: [ { x: 1622134811000, title: 'DC Cover Girls' },
                                       /* { x: 1623344400000, title: 'Cereal Killers' } */ ],
                showInLegend: false,
                shape: 'squarepin' } ],
    tooltip: { crosshairs: true,
               shared: true },
    scrollbar: { enabled: true },
    navigator: { enabled: true, 
                 xAxis: { labels: { enabled: false } } },
});

</script>
<script type=text/javascript>
  var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
{%- endblock scripts %}
